
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --blue: #367DE3;
  --green: #91D500;
  --gray: #282E31;
}

body{
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Poppins", sans-serif;
  color: var(--gray);

  overflow-x: hidden;
}
section{
  width: 100%;
}
a{
  color: var(--gray);
}
header{
  width: 100%;
}

header .information{
  width: 100%;
  
}

.container{
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information .container{
  font-size: 14px;

  padding: 20px 0;
}

.functionalities{
  display: flex;
  align-items: center;
  gap: 20px;
}

.functionalities a{
  cursor: pointer;
}

.header a{
  color: white;
}

.header{
  background-color: var(--blue);
}
.header .container{
  padding: 20px;
  color: white;
}
.header .container img{
width: 200px;
}

.header .container div{
  display: flex;
  align-items: center;
  gap: 20px;
}

.search{
  background-color: white;
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search input{
  margin: 0 20px;
  border: none;
  font-size: 14px;
}

.search button{
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 20px;
  height: 100%;
  padding: 0 30px;
  cursor: pointer;
}

.menu{
  background-color: #F4F4F4;
}

.menu .container{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a{
  color:var(--gray);
  text-decoration: none;
}

.path{
  font-size: 14px;
}

.content .container{
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 20px;
  align-items: start;
}
aside{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 20px;
}
.filter{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title p{

  font-size: 16px;
  color:var(--blue);
  font-weight: 600;
}

.title .reset{
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}

.items{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item button{
  color:white;
}

.divisor{
  width: 100%;
  border-bottom: 1px solid #282e3141;
}

.item form{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.item form input{
  width: 35%;
  border: 1px solid #282e3141;
  border-radius: 10px;
  
  padding: 5px 10px;
}

.item form button{
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

main{
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  gap: 20px;
}

.product{
  border: 1px solid #282e3141;
  padding:10px 20px;
  border-radius: 20px;
  position: relative;

  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);

  transition: 0.1s linear;
}

.product:hover{
  transform: scale(1.02);

  -webkit-box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.1);
  box-shadow: 8px 8px 10px 0px rgba(0,0,0,0.1);
}

.product .image{
  width: 100%;
  height: 250px;
  max-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product img{
  width: 100%;
}

.favorite{
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

.stars{
  display:flex;
  align-items: center;
  font-size: 12px;
}

.stars p{
  margin-right: 5px;
}

.price{
  display: flex;
  flex-direction: column;
}

.product h3{
  font-size: 14px;
  font-weight: 600;
}

.old-price{
  text-decoration: line-through;
  color: #282e3171;
  font-size: 12px;
}

.current-price{
  font-weight: 600;
}

.current-price span{
  font-size: 12px;
  font-weight: 400;
}

footer{
  background-color: var(--blue);
  padding: 40px 0;
}

footer .container{
  flex-direction: column;
  gap: 40px;

}

footer .contact{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 40px 80px;
  
  border-radius: 20px;
}

footer .contact div{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

footer .contact form{
  background-color: var(--blue);
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

footer .contact input{
  background-color: transparent;
  margin: 0 20px;
  border: none;
  font-size: 14px;
  color: white;
  outline: none;
}

footer .contact input::placeholder{
  color: white;
}

footer .contact button{
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 20px;
  height: 100%;
  padding: 0 30px;
  cursor: pointer;
}

.contact-us i{
  color: white;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  color: white;
}

.footer img{
  width: 200px;
}
.footer p{
  font-size: 12px;
}

.footer .social-media{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.footer .social-media i{
  color:white;
}

.footer .title{
  font-size: 16px;
}

.footer .information{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list p{
  transform: translatex(-16px);
}

.list li{
  font-size: 12px;
}

#quant-cart{
  display:flex;
  align-self: center;
  justify-content: center;
  min-width: 10px;
}
.cart{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.desativado{
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.ativado{
  padding: 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: var(--blue);
  color: white;
}